
<div id="site">
    <div class="site-ctn mt-4 row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {{#each users}}
                        <li data-target="#myCarousel" data-slide-to="{{this.idUser}}" class="site-indicator {{start this.idUser 'active' ''}}"></li>
                    {{/each}}
                </ol>
                <div class="carousel-inner">
                    {{#each users}}
                    <div class="carousel-item {{start this.idUser 'active' ''}}">
                        <div class="fixed-img"><img class="d-block w-100" src="{{this.avt}}" alt="{{this.name}}"></div>
                        <div class="carousel-caption d-block d-md-block">
                            <div class="site-base">
                                <h5 class="site-name">{{this.name}}</h5>
                                <p class="site-des">{{this.nickname}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Trước</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Tiếp</span>
                </a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-0 col-0 site-detail">
            {{#each users}}
            <span class="site-slide {{start this.idUser 'd-block' 'd-none'}}">
                <h2 class="site-characteristic">Đặc điểm</h2>
                <div class="site-aspect">
                    <h3 class="site-aspect-mesage">Chiều cao: <span>{{this.hight}}</span></h3>
                </div>
                <div class="site-aspect">
                    <h3 class="site-aspect-mesage">Cân nặng: <span>{{this.weight}}</span>kg</h3>
                </div>
                <div class="site-aspect">
                    <h3 class="site-aspect-mesage">Tuổi: <span>{{this.age}}</span></h3>
                </div>
                <div class="site-aspect">
                    <h3 class="site-aspect-mesage">Người yêu: <span>{{#if this.crush}}Đã có {{else}}Chưa có{{/if}}</span></h3>
                </div>
                <div class="site-aspect row no-gutters">
                    <h3 class="site-aspect-mesage col-4">Sở thích:</h3>
                    <div class="col-8">
                            {{#each this.favorites}}
                            <span class="site-favorite">{{this}}</span>
                            {{/each}}
                    </div>
                </div>
                <div class="site-aspect row no-gutters">
                    <h3 class="site-aspect-mesage col-12">Châm ngôn sống:</h3>
                    <span class="site-maxim">{{this.maxim}}</span>
                </div>
            </span>
            {{/each}}
        </div>
    </div>
</div>
{{>footer}}
<script>
    document.addEventListener('DOMContentLoaded', function(){
        let slides = $('.site-slide');
        $('#myCarousel').on('slid.bs.carousel', function() {
            let currentIndex = $('div.active').index();
            [...slides].forEach((item, index)=> {
                if(index===currentIndex){
                    item.classList.remove('d-none');
                    item.classList.add('d-block');
                }else{
                    item.classList.remove('d-block');
                    item.classList.add('d-none');
                };
            });
        });
    });
</script>